@model TestBaoVeMVC.Models.Root

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Root</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RootID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RootID)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Head)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishTime)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HitCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HitCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.HeadImageUrl)" style="width:500px"/>
            
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbImageUrl)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
